---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/Header.astro";
import About from "@/components/sections/spa/About.astro";
import Education from "@/components/sections/spa/Education.astro";
import Experience from "@/components/sections/spa/Experience.astro";
import Hero from "@/components/sections/spa/Hero.astro";
import Projects from "@/components/sections/spa/Projects.astro";
import Skills from "@/components/sections/spa/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import { basics } from "@cv";

const { name, label } = basics;
---

<Layout title={`${name}`}>
  <Header />
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>

  <KeyboardManager />
</Layout>
<style>
  main {
    padding: 4rem;
    margin: auto;
    width: auto;
  }
</style>
